#!/usr/bin/env bash

set -euxo pipefail

{{ if lookPath "brew" }}
brew install fish fisher starship gnupg slsa-verifier harlequin mosquitto
{{ else }}
{{ if lookPath "apt-get" }}
sudo apt-get update
sudo apt-get install fish curl gnupg git
{{ end }}
fish -c 'curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher'
curl -sS https://starship.rs/install.sh | sh
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
brew install mise
brew install --cask karabiner-elements
brew install --cask wezterm
brew install --cask podman-desktop
brew install podman
{{- end -}}
